body {
    padding:0;
    margin:0;
    font-family: 'Montserrat';
    font-weight: 300;
}

/* NAV CLASSES */

.navOuter {
    height:100px;
    width:100%;
    position:fixed;
    z-index: 100;
    transition: all .4s ease;
}


.navElt {
    float:right;
    height:100%;
    width:150px;
}

.navTitle {
    float:left;
    height:100%;
    width:auto;
}

.eltTitle {
    background:url("logo.png") center no-repeat;
    margin-left: 20px;
    background-size: contain;
    width: 155px;
    height: 100%;

}

.eltInner {
    padding:10px;
    width:70px;
    margin: 0  auto;
    text-align: center;
    border-radius: 4px;
    border: 2px solid white;
    color:white;
    cursor: pointer;
}

.eltInner:hover {
    background: rgba(225, 225, 225, 0.20);
}

.navOuter.Bot {
    background:#46A349;
    height:65px;
}

/* TOP PAGE CLASSES */

.fullWrap {
    height:100vh;
    width:100%;
    background:url("http://images5.alphacoders.com/454/454233.jpg") center no-repeat;
}

.blur {
    background: rgba(0, 0, 0, 0.21);
    height:100%;
}

.titleOuter {
    height:100%;
    width:auto;
    margin:0 auto;
}

.wrap {
    height:auto;
    width:auto;
    padding:40px;
    /*background: rgba(255, 255, 255, 0.42);*/
    border-radius: 5px;
    color:white;
}

.title {
    font-size:165px;
    font-weight: 500;

}

.subtitle {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

/* BUTTON CLASSES */

.buttonContain {
    height:65px;
    margin:30px 0;
}

.buttonHalf {
    float:right;
    width:50%;
    height:100%;
}

.buttonOuter {
    height:100%;
    width:230px;
    margin:0 auto;
    background: #46A349;
    border-radius: 4px;
    border-bottom: 4px solid #418543;
    cursor: pointer;
    display: table;
}

.buttonOuter:hover {
    background: #4eb951;
}

.buttonInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:20px;
    color:white;
    font-weight: 500;
}

/* ARROW CLASSES */

.bottomArrow {
    bottom:15px;
    position: absolute;
    width:100%;
    height:auto;

}


.Arrow {
    width:70px;
    height:70px;
    margin:0 auto;
    background-size: contain;
    cursor: pointer;
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png") center no-repeat;
    background-size: contain;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    -webkit-animation: drop .2s;
    -webkit-animation-fill-mode: forwards;
}

.Arrow:hover {
    -webkit-animation: lift .2s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes lift {
    0% { height:70px; }
    100% {height:90px; }
}

@-webkit-keyframes drop {
    0% { height:90px; }
    100% {height:70px; }
}

/* FIRST SECTION */

.sectionHeader {
    width:100%;
    text-align: center;
    font-size: 40px;
    position: relative;
    color:#272727;
    font-weight: 600;
}

.subHeader {
    text-align: center;
    font-size: 25px;
    margin:10px 0;
    color: #272727;
}

.obj {
    height:100%;
    width:20%;
    float:left;
}

#store {
    float:left;
    background:url("img/Store11-4.png") bottom no-repeat;
    background-size: contain;
}

#person {
    float:right;
    background:url("img/House11-4.png") bottom no-repeat;
    background-size: contain;
}

#cart {
    float:left;
    background:url("img/Bag11-4.png") bottom no-repeat;
    background-size: contain;

}


/* How To Section */

#how {
    background:#e1e1e1;
}

.howToHolder {
    width:1050px;
    margin:0 auto;
    height:auto;
    text-align: center;
    display: table;
}

.taskOuter {
    width:25%;
    float:left;
}

.topNum {
    height:50px;
    width:50px;
    margin:0 auto;
    background: #d0d0d0;
    border-radius: 100%;
    color: #929292;
    font-weight: 600;
    font-size: 30px;
    display: table;
    margin-bottom: 30px;
}

.taskIcon {
    height:130px;
    width:60%;
    margin:0 auto;
    background-size: contain;
    background:black;
    margin-bottom: 30px;
}

.taskText {
    font-weight: 600;
    width:80%;
    margin:0 auto;
    font-size: 22px;
    color: #464646;

}

#book {
    background: url("img/Store11-4.png") center no-repeat;
    background-size: contain;
}

#shop {
    background: url("https://m1.behance.net/rendition/modules/141660749/disp/baf2ed313f2e2584674a4c5ba8457c80.png") center no-repeat;
    background-size: contain;
}

#checkout {
    background: url("img/House11-4.png") center no-repeat;
    background-size: contain;
}

#grocery {
    background: url("img/Bag11-4.png") center no-repeat;
    background-size: contain;
}

/* FOOTER CLASSES */

.f {
    width:100%;
    display: inline-block;
    background: #e9ebec;
    padding:50px 0;
}

.fLogo {
    width:100%;
    height:50px;
    margin:10px 0;
    background: url("logo.png") center no-repeat;
    background-size: contain;
    -webkit-filter: invert(100%);
}

.fLinksContain {
    width: 300px;
    margin:0 auto 30px auto;
    height:auto;
    font-family:'Open Sans';
    font-weight: 300;
}

.fLink {
    width:20%;
    float:left;
    text-align: center;
}

.socialContainer {
    width:200px;
    height:40px;
    margin:0 auto;
}

.socialIcon {
    width:25%;
    height:100%;
    float:left;
}

.socialIconInner {
    width:90%;
    margin: 0 auto;
    height:100%;
    cursor:pointer;
}

#facebook {
    background: url("https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png") center no-repeat;
    background-size: contain;
}

#twitter {
    background: url("https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-128.png") center no-repeat;
    background-size: contain;
}

#googlePlus {
    background: url("https://cdn1.iconfinder.com/data/icons/logotypes/32/square-google-plus-128.png") center no-repeat;
    background-size: contain;
}

#instagram {
    background: url("https://cdn1.iconfinder.com/data/icons/logotypes/32/instagram-128.png") center no-repeat;
    background-size: contain;
}

/* COMMON CLASSES */

.area {
    width:100%;
    height:800px;
    background: #86a9e1;
}

.section {
    padding:70px 0;
}

.sectionBuffer {
    height:auto;
    width:100%;
}

.holder {
    width:800px;
    height:200px;
    margin:30px auto;
    position: relative;
    display: none;
}

.outer {
    display:table;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}